<section>
	<div class="comment-details">
		<p class="comment-body">{{comment_body}}</p>
		<p class="signature">By: {{username}} {{format_date date_created}} {{format_time date_created}}</p>
	</div>
</section>