<section>
  <h3 class="thread-name">{{title}}</h3>
  <h4 class="bold-signature">By: {{username}} {{format_date date_created}} {{format_time date_created}}</h4>
  <section class="thread-comments">
    {{#each comment as |individual-comment|}}
    {{> comment-details}}
    {{/each}}
    <button id="newComment">Create New Comment</button>
  </section>
</section>