:root {
  --primary: #00a3cc;
  --secondary: #868d93;
  --tertiary: #467080;
  --quatrinary: #676a6c;
  --light: #edf7fd;
  --dark: #182b2c;
  --border-radius: 0.3rem;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
